psutil
protobuf-decoder
websocket-client
flask==3.0.3
flask-cors==4.0.1
pymongo==4.7.3
PyJWT==2.8.0
bcrypt==4.1.3
python-dotenv==1.0.1
requests==2.32.3
dnspython==2.6.1
pycryptodome==3.20.0
protobuf==4.25.3
httpx==0.27.2
aiohttp==3.9.5
cachetools==5.3.3
crypto
python-cfonts
urllib3
